<h2>Список продуктов</h2>

{{#if results.length}}
    <ul class="ProductsList">
        {{#each results}}
            <li class="ProductsList__item">
                <span class="ProductsList__itemText">Позиция: {{id}}, наименование: {{name}}, цена: {{price}}</span>

                <form action="/db_query/products/remove" method="POST">
                    <input type="hidden" name="id" value="{{id}}">
                    <button type="submit" class="btn btn-small">
                        Удалить
                    </button>
                </form>
            </li>
        {{/each}}
    </ul>
{{else}}
    <span>В базе нет никаких продуктов</span>
{{/if}}

<form action="/db_query/products/add" method="POST">
    <div class="row">
        <div class="input-field col">
            <input id="name" type="text" name="name">
            <label for="name">Наименование</label>
        </div>

        <div class="input-field col">
            <input id="price" type="number" name="price">
            <label for="price">Цена</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
        </div>
    </div>

    <button type="submit" class="btn btn-small">
        Добавить
    </button>
</form>
